html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

.reservation form { /*Form Borders*/
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: darkseagreen;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid darkseagreen;
    margin: 2% auto;
    border-radius: 7px;
    background: lightgrey;
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, .3);
    font-family: Arial, Helvetica, sans-serif;
}

.reservation input[type="text"] { /*Input Borders*/
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: lightgreen;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid green;
    border-right: 2px solid green;
    border-right: 2px solid green;
    border-left: 1px solid green;
    margin: 10px 1em;
    border-radius: 7px;
}
